{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Error Screen</title>
        <style>
            body{
                background-color: #0a6082;
            }
            h1{
                margin-left: 5%;
                margin-right: 5%;
                margin-top:5%;
                color:black;
                font-size: 7vh;
                text-align:center;
            }
            .goback{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <h1>Hi, this is a prototype, but thanks for checking all the pages.</h1>
        <h1>
            If you want to view templates, go to "Animals".
        </h1>
        <h1>If you want interactivity go to "Abstract" and try clicking the first two options</h1>
        <div class = "goback">
            <a href="/coloring/templates"><img src="{% static 'coloring/images/templatesscreen/goback.png' %}" alt="Go back" width="120" height="120"></a>
        </div>
    </body>
</html>