{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Templates Screen</title>
	<style>
        .container-fluid{
            background-color: #87D0D1;
            width: 100vh;
            height: 100vh;
        }
        .firstrow{
            background-color: red;
        }
        .second-col{
            margin-left:-200%;
        }
    </style>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
</head>
<body> 
    <div class = "container-fluid">
        <div class = "row firstrow">
            <div class = "col my-col">
                <a href="/coloring/screen1">
                    <img src="{% static 'coloring/images/goback.png' %}" alt="Go back" width="50" height="50">
            </div>
            <div class = "col second-col">
                <h1>Templates</h1>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <img source = "">
                <h3>Blank Canvas</h3>
            </div>
            <div class = "col">
                <img source = "">
                <h3>Animals</h3>
            </div>
            <div class = "col">
                <img source = "">
                <h3>Scenery</h3>
            </div>
            <div class = "col">
                <img source = "">
                <h3>Abstract</h3>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <img source = "">
                <h3>Cartoons</h3>
            </div>
            <div class = "col">
                <img source = "">
                <h3>City</h3>
            </div>
            <div class = "col">
                <img source = "">
                <h3>Fruit</h3>
            </div>
            <div class = "col">
                <img source = "">
                <h3>Search</h3>
            </div>
        </div>
    </div>
</body>
</html>
